<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.restassured.tests.PostAPIRequestUsingFile"/>
      <class name="com.restassured.tests.DatadrivenapitestingusingJson"/>
      <class name="com.restassured.tests.PatchAPIRequest"/>
      <class name="com.restassured.tests.PostAPIRequest"/>
      <class name="com.restassured.tests.Allurereportgeneration"/>
      <class name="com.restassured.tests.GetAPIRequest"/>
      <class name="com.restassured.tests.EndtoEndAPIRequest"/>
      <class name="com.restassured.tests.PutAPIRequest"/>
      <class name="com.restassured.tests.PostAPIRequestUsingPojos"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
